__pycache__
.bechmarks
.cache
.clangd
.coverage*
.env
.idea
.pytest_cache
.tmp
.venv
.vscode
*.bak
*.cover
*.egg
*.egg-info
*.manifest
*.so
*.test
**/*.log
**/*.test
**/env-*
**/vknr.test
/Dockerfile
build
coverage.xml
dist
golangci-lint
htmlcov
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
PLAN_*
target
vendor
