**/.Rbuildignore
**/.RData
**/.Rhistory
**/.Rprofile
**/.Rproj.user
**/*.o
**/*.so
**/renv
docs
variantkey_*.tar.gz
variantkey.Rcheck
variantkey/libs
variantkey/LICENSE
variantkey/tests/testthat/_problems
